sensors.log
web/js/salt.js
lockfiles/*
bkp/*
modules/weatherstation/smarthome.*
modules/weatherstation/*.pyc
modules/webserver/home/js/*.json
modules/tuya/tuya.conf
modules/webserver/home/js/salt.js
modules/weatherstation/db/smarthome.db
