*{
	margin:0;
	padding:0;
}

body{
	background:url('../icons/page_bg.png') repeat-x;
	font:18px/1.3 'Segoe UI',Arial, sans-serif;
	color:#555;
}

#page{
	width:350px;
	margin: 0px auto 0px;
}

form ul{
	list-style:none;
}

form li{
	padding: 15px;
}

form li:nth-child(even){
	background:url('../icons/line_bg.png') repeat-y center center;
}

form label{
	width:170px;
	font-size:16;
	color:#333;
	display: inline-block;
}


#footer{
	margin: 40px auto 0px;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 100000;
}



IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}