.center {
    margin: auto;
    width: 20%;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainmenu {
    max-height: 13%;
    max-width: 13%;
    padding: 0.3%;
}

@media (pointer:none), (pointer:coarse) {
    .mainmenu {
        min-height: 40%;
        min-width: 40%;
        padding: 2%;
    }
}


